@charset "utf-8";

/*formatação do menu*/
nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute; /*pode coloca em qualquer lugar na pagina*/
  top: -20px; /*altura do menu*/
  left: 300px; /*distancia do menu para esquerda*/
}
nav#menu li {
  display: inline-block; /* deixa menu em linha*/
  background-color: #dddddddd; /*coloca um cor de fundo de cor*/
  padding: 10px; /*ele da um espaço dentro do menu na cor*/
  margin: 2px; /*dar espeça no botoes no menu lembrando que com uma margen de 2px ficar com 4px de espaço*/
  transition: background-color 1s;/*tempo de muda a cor do menu*/
}

nav#menu li:hover{
   background-color: #606060;
}
nav#menu h1 {
  display: none;
}
nav#menu a {
  color:black; /*cor dos texto do menu*/
  text-decoration: none; /*remover sublinhado do menu*/
}
nav#menu a:hover{
  color:#ffffff; /*mudar a cor do texto quando passa o mouse por cima*/
  text-decoration: underline;/*deixa sublinhado quando passar o mouse por cima*/
}